name: Build and Push Docker Image to OCR

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  get-image-name:
    runs-on: ubuntu-latest
    outputs:
      IMAGE_NAME: ${{ steps.set-image-name.outputs.IMAGE_NAME }}
    steps:
      - name: Set Image Name
        id: set-image-name
        run: |
          name=$(grep '^name' pyproject.toml | head -1 | sed 's/name = "//g' | sed 's/"//g')
          echo "IMAGE_NAME=$name" >> $GITHUB_OUTPUT

  get-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Extract version from pyproject.toml
        id: version
        run: |
          version=$(grep '^version' pyproject.toml | head -1 | sed 's/version = "//g' | sed 's/"//g')
          echo "version=$version" >> $GITHUB_OUTPUT

  build-and-push-image:
    runs-on: ubuntu-latest
    needs: [  get-image-name, get-version ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Oracle Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.OCR_ENDPOINT }}
          username: ${{ secrets.OCR_USERNAME }}
          password: ${{ secrets.OCR_PASSWORD }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ vars.OCR_ENDPOINT }}/${{ vars.OCR_NAMESPACE }}/${{ needs.get-image-name.outputs.IMAGE_NAME }}:${{ needs.get-version.outputs.version }}
            ${{ vars.OCR_ENDPOINT }}/${{ vars.OCR_NAMESPACE }}/${{ needs.get-image-name.outputs.IMAGE_NAME }}:latest

  create-release:
    runs-on: ubuntu-latest
    needs: [get-image-name, get-version, release]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ needs.get-version.outputs.version }}
          release_name: Release v${{ needs.get-version.outputs.version }}
          draft: false
          prerelease: false